# Python bytecode
__pycache__/
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
*.egg-info/

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
